<h2 nz-typography><b>{{ player.name }}</b>  <i nz-icon nzType="flag" nzTheme="twotone"></i> Rank? / {{player.elo}} pts</h2>

<div nz-row [nzGutter]="6" nzAlign="middle">  
  
  <div class="cardInformation" nz-col [nzSpan]="4">
    <!-- <nz-card [nzBordered]="false" nzTitle="Rank? / {{player.elo}} pts">
    <p>Average : <b>{{player.ave}}</b></p>
    <p>Nb Cotd : <b>{{player.nb_game}}</b></p>
    <p>Best positon : <b></b></p>
    </nz-card> -->
    <nz-table
          nzNoResult=" "
          nzShowSizeChanger>
      <thead>
        <tr>
          <th colspan="2">Main Informations</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Average :</td>
          <td><b>{{player.ave}}</b></td>
        </tr>
        <tr>
          <td>Nb of COTD :</td>
          <td><b>{{player.nb_game}}</b></td>
        </tr>
        <tr>
          <td>Best result :</td>
          <td><b>yep</b></td>
        </tr>
        <tr>
          <td colspan="2"><a target="_blank" href="https://trackmania.io/#/player/{{player.u_id}}"><button nz-button nzType="primary" nzBlock ><i nz-icon nzType="heart" nzTheme="twotone" nzTwotoneColor="#33a0ff"></i>Trackmania.io Profil</button></a></td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <div class="chart" nz-col [nzSpan]="20">
    <app-graph-player></app-graph-player>
  </div>
</div>

<nz-table
      nzShowSizeChanger
      [nzData]="player.results"
      [nzFrontPagination]="false"
      [nzLoading]="loading"
      [nzTotal]="total"
      [nzPageSize]="pageSize"
      [nzPageIndex]="pageIndex"
      (nzQueryParams)="onQueryParamsChange($event)"
    >
      <thead>
        <tr>
          <th nzColumnKey="position" >COTD Name</th>
          <th nzColumnKey="evolution">Division</th>
          <th>Result in div</th>
          <th>Global Result</th>
          <th>ELO after match</th>
          <th nzColumnKey="Ave" [nzSortFn]="true">Delta</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of player.results; let isIndex = index" >
          <td nzAlign="center">{{ result.tournoi_name }}</td>
          <td nzAlign="center">{{JeSuisCeil(result.position/64)}}</td>
          <td>{{result.position%64}}</td>
          <td>{{result.position}}</td>
          <td>{{ result.elo }}</td>
          <td>
            <span nz-typography nzType="success" *ngIf="createDelta(isIndex)>0"><i nz-icon nzType="up" nzTheme="outline"></i> {{createDelta(isIndex)}}</span>
            <span nz-typography nzType="danger" *ngIf="createDelta(isIndex)<0"><i nz-icon nzType="down" nzTheme="outline"></i> {{createDelta(isIndex)}}</span>
            <span nz-typography nzType="secondary" *ngIf="createDelta(isIndex)==0"><i nz-icon nzType="minus" nzTheme="outline"></i></span>
        </tr>
      </tbody>
    </nz-table>
