<h2 nz-typography><b>{{ player.name }}</b>  <i nz-icon nzType="flag" nzTheme="twotone"></i> Rank? / {{player.elo}} pts</h2>
<h5  nz-typography>Resultat Ave. : {{player.ave}}</h5>
<nz-table
      nzShowSizeChanger
      [nzData]="player.results"
      [nzFrontPagination]="false"
      [nzLoading]="loading"
      [nzTotal]="total"
      [nzPageSize]="pageSize"
      [nzPageIndex]="pageIndex"
      (nzQueryParams)="onQueryParamsChange($event)"
    >
      <thead>
        <tr>
          <th nzColumnKey="position" >COTD Name</th>
          <th nzColumnKey="evolution">Division</th>
          <th>Result in div</th>
          <th>Global Result</th>
          <th>ELO after match</th>
          <th nzColumnKey="Ave" [nzSortFn]="true">Delta</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of player.results.slice(0,-1); let isIndex = index" >
          <td nzAlign="center">{{ result.tournoi_name }}</td>
          <td nzAlign="center">{{JeSuisCeil(result.position/64)}}</td>
          <td>{{result.position%64}}</td>
          <td>{{result.position}}</td>
          <td>{{ result.elo }}</td>
          <td>
            <span nz-typography nzType="success" *ngIf="createDelta(isIndex)>0"><i nz-icon nzType="up" nzTheme="outline"></i> {{createDelta(isIndex)}}</span>
            <span nz-typography nzType="danger" *ngIf="createDelta(isIndex)<0"><i nz-icon nzType="down" nzTheme="outline"></i> {{createDelta(isIndex)}}</span>
            <span nz-typography nzType="secondary" *ngIf="createDelta(isIndex)==0"><i nz-icon nzType="minus" nzTheme="outline"></i></span>
        </tr>
      </tbody>
    </nz-table>
