<h2 nz-typography><b>{{ player.name }} </b>| {{player.position}}{{nbOrdinal(player.position)}} <span style="font-weight: 100;">with</span> {{player.elo}} pts</h2>

<div nz-row [nzGutter]="6" nzAlign="middle" nzJustify="center" >  
  <!-- nzXs="" nzSm="750px" nzMd="970px" nzLg="1170" -->
  <div class="cardInformation" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="6" nzXl="4">
    <nz-table
          nzNoResult=" "
          nzShowSizeChanger>
      <thead>
        <tr>
          <th colspan="2">Main Informations</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Highest ELO reached:</td>
          <td><b>{{bestResult("elo")}}</b></td>
        </tr>
        <tr>
          <td>Best result in COTD:</td>
          <td><b>{{bestResult("score")}}{{nbOrdinal(bestResult("score"))}}</b></td>
        </tr>
        <tr>
          <td>Average on COTD :</td>
          <td><b>{{player.ave}}{{nbOrdinal(player.ave)}}</b></td>
        </tr>
        <tr>
          <td>Nb of COTD played :</td>
          <td><b>{{player.nb_game}}</b></td>
        </tr>
        <tr>
          <td colspan="2"><a target="_blank" href="https://trackmania.io/#/player/{{player.u_id}}"><button nz-button nzType="primary" nzBlock ><i nz-icon nzType="heart" nzTheme="twotone" nzTwotoneColor="#33a0ff"></i>Trackmania.io Profil</button></a></td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <div class="chart" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="18" nzXl="20">
    <app-graph-player></app-graph-player>
  </div>
</div>

<nz-table
      nzShowSizeChanger
      [nzData]="player.results"
      [nzFrontPagination]="false"
      [nzLoading]="loading"
      [nzTotal]="total"
      [nzPageSize]="pageSize"
      [nzPageIndex]="pageIndex"
      (nzQueryParams)="onQueryParamsChange($event)"
    >
      <thead>
        <tr>
          <th nzColumnKey="position" >COTD Name</th>
          <th nzColumnKey="evolution">Division</th>
          <th>Result in div</th>
          <th>Global Result</th>
          <th>ELO after match</th>
          <th nzColumnKey="Ave" [nzSortFn]="true">Delta</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of player.results; let isIndex = index" >
          <td nzAlign="center">{{ result.tournoi_name }}</td>
          <td nzAlign="center">{{JeSuisCeil(result.position/64)}}</td>
          <td>{{result.position%64}}</td>
          <td>{{result.position}}</td>
          <td>{{ result.elo }}</td>
          <td>
            <span nz-typography nzType="success" *ngIf="createDelta(isIndex)>0"><i nz-icon nzType="up" nzTheme="outline"></i> {{createDelta(isIndex)}}</span>
            <span nz-typography nzType="danger" *ngIf="createDelta(isIndex)<0"><i nz-icon nzType="down" nzTheme="outline"></i> {{createDelta(isIndex)}}</span>
            <span nz-typography nzType="secondary" *ngIf="createDelta(isIndex)==0"><i nz-icon nzType="minus" nzTheme="outline"></i></span>
        </tr>
      </tbody>
    </nz-table>
